<!-- views/home.handlebars -->
{{#if user}}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="hero-unit center" style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;">
                    <h1>Submitted<small><font face="Tahoma" color="red"> UnSuccessfully</font></small></h1>
                    <br />
                    <p>Followig is the error from server : </p>
                    <br>
                        <b>Error</b> <br>
                        {{error}} <br>
                    <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
                </div>
                <!-- By ConnerT HTML & CSS Enthusiast -->
            </div>
        </div>
    </div>

{{else}}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="hero-unit center" style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;">
                    <h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
                    <br />
                    <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
                    <p><b>Or you could just press this neat little button:</b></p>
                    <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
                </div>
                <!-- By ConnerT HTML & CSS Enthusiast -->
            </div>
        </div>
    </div>

{{/if}}
   
